* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

html {
	background-color: #0000ff;
}

body {
	--vw: 1vw;
	width: 100vw;
	width: calc(100 * var(--vw, 1vw));

	--vh: 1vh;
	height: 100vh;
	height: calc(100 * var(--vh, 1vh));
}
